* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

section {
  display: flex;
  background-color: #1f2937;
  padding: 26px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900px;
  color: #e5e7eb;
  font-size: 48px;
}

p {
  color: #e5e7eb;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  gap: 16px;
  display: flex;
  align-items: center;
  margin-right: 50px;
}

a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  opacity: 0.7;
  font-size: 18px;
}

header img {
  width: 120px;
  height: auto;
  margin-left: 20px;
}

section img {
  width: 600px;
  height: auto;
}

button {
  background-color: #3882f6;
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 30px;
  font-size: 18px;
}

main img {
  width: 320px;
  height: auto;
}

main p {
  color: black;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

main {
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

article h1 {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

article {
  margin-top: 100px;
  background-color: #e5e7eb;
  height: 250px;
  padding: 10px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

article p {
  color: #1f2937;
}

.author {
  align-self: flex-end;
  padding: 20px;
  margin-right: 170px;
}

.call-to-action {
  background-color: white;
}

.call-to-action {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.content {
  background-color: #3882f6;
  color: white;
  padding: 24px;
  border-radius: 8px;
  text-align: center;
  width: 1000px;
  height: 150px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.text p {
  text-align: left;
}

.call-to-action button {
  border: 1px solid white;
  margin-top: 20px;
}

.content h2 {
  margin-bottom: 8px;
  font-weight: bold;
  font-family: "Roboto";
  text-align: left;
}

footer {
  margin-top: 100px;
  background-color: #1f2937;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
